<!DOCTYPE html>
<html>
	{% load staticfiles %}
	{% load tags %}
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

		<title>Asterisk Manager GUI</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/sb-admin-2.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/metisMenu.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	</head>
	<body>
		<!-- WebSocket end point START-->
		<input type="hidden" id="WEBSOCKET_URL" value="{% settings_property "WEBSOCKET_URL" %}"/>
		<!-- WebSocket end point END-->
		
		<!-- REACT application element START -->
		<div id="asterisk-app"></div>
		<!-- REACT application element END -->
		<script type="text/javascript" src="{% static "js/jquery-2.0.3.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/metisMenu.min.js" %}"></script>

		<script type="text/javascript" src="{% static "js/sb-admin-2.js" %}"></script>
		<script type="text/javascript" src="{% static "js/main.bundle.js" %}"></script>
	</body>
</html>